[package]
name = "wasm-image-processing-comparison"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
smallvec = "1.13"

[dependencies.web-sys]
version = "0.3"
features = ["console"]
